/* https://www.arsys.es/blog/efecto-resplandor-sombras-css */
/* https://carontestudio.com/blog/efecto-cristal-css-te-ensenamos-a-crearlo-de-0/ */
/* https://alvarotrigo.com/blog/html-css-timelines/ */
/* https://programadorwebvalencia.com/Javascript-cuenta-atras-o-contador-regresivo/ */

/* generales */
:root {
  --colorChamp: #f7e7ce;
  --colorBlanco: white;
  --colorRojo: #b32428;
  --colorNegro: #000000;

  --fuenteCursiva: "Pinyon Script", cursive;
  --fuenteCursivaTitulo: "Niconne", cursive;
  --fuenteCursiva3: "Pacifico", cursive;
  --fuenteParrafo: "Source Serif Pro", serif;
  --fuenteTitulo2: "Crimson Text", serif;
  --introDuracion: 0.5s;
  --introDelay: 2s;
}

section {
  padding: 100px 0;
}
/* button {
  background-color: var(--color3) !important;
  color: white !important;
} */

.contA {
  background-color: var(--colorChamp);
}

.contB {
  background-color: var(--colorBlanco);
}

.center {
  margin: auto;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.txtTitles  /* fuente de titulos*/ {
  font-size: 60px;
  font-family: var(--fuenteTitulo2);
  font-style: italic;
  line-height: 1;
}

.text-white {
  color: white;
}
.text-black {
  color: black;
}
.txtParagraph {
  font-family: var(--fuenteParrafo);
  padding: 10px 0;
}

.txtTitles2 {
  font-family: var(--fuenteCursiva2);
  font-size: 60px !important;
}
.txtTitles4 {
  font-family: var(--fuenteCursiva);
  font-size: 40px !important;
}
.fontSize60 {
  font-size: 60px;
}
.fontSize90 {
  font-size: 90px;
  line-height: 1;
}
.fontSize30 {
  font-size: 30px;
}
.fontSize45 {
  font-size: 45px;
}
.font-bold {
  font-weight: bold;
}
.text-shadow {
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.txtTitles3 {
  background: -webkit-linear-gradient(var(--colorBlanco), var(--colorChamp));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 96px;
  padding: 30px 0;
  text-align: center;
  filter: drop-shadow(0 8px 2px rgba(11, 11, 110, 0.3));
}
.txtText /* Nombre*/ {
}
.widthLovequote {
  width: 50%;
}

.txtBadage {
  font-size: 45px;
  font-family: "Pinyon Script", cursive;
}
/* img circle */
.circular {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular img {
  width: 100%;
  height: auto;
}
#div {
  outline: #000000 solid 1px;
}

.sectionTitle {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out;
}
.ornamentTitle {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.showTitle {
  transform: translateY(0);
  opacity: 1;
}

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*backdrop*/
#backdrop {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  height: 100vh; /*cubra toda la altura de la pantalla*/
  width: 100%;
  z-index: 1000; /* eje z y su posición*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadingContainer {
  text-align: center;
}
.loadingContainer img {
  width: 320px;
  height: 240px;
}
/* establecer la posición y tamaño de las capas */
.bd-background {
  width: 395px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

/* establecer la opacidad inicial de las capas a 0 */
.bd-background-layer {
  opacity: 0;
  position: relative;
}

/* establecer la animación para las capas */
@keyframes fadeInLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* aplicar la animación a todas las capas */
.bd-background-layer {
  --bd-width: 395px;
  --bd-height: 400px;
  width: var(--bd-width);
  height: var(--bd-height);
  animation: fadeInLogo 1s ease-in-out forwards;
}

/* establecer el orden de apilamiento de las capas */
.layer1 {
  animation-delay: 0.05s;
  background-image: url(../img/logoml-02.png);
  z-index: 1;
}

.layer2 {
  animation-delay: 0.1s;
  background-image: url(../img/logoml-03.png);
  z-index: 2;
  top: calc(-1 * var(--bd-height));
}

.layer3 {
  animation-delay: 0.15s;
  z-index: 3;
  background-image: url(../img/logoml-01.png);
  top: calc(-2 * var(--bd-height));
}

.layer4 {
  animation-delay: 0.2s;
  z-index: 4;
  background-image: url(../img/logoml-08.png);
  top: calc(-3 * var(--bd-height));
}

.layer5 {
  animation-delay: 0.25s;
  z-index: 5;
  background-image: url(../img/logoml-04.png);
  top: calc(-4 * var(--bd-height));
}
.layer6 {
  animation-delay: 0.3s;
  z-index: 6;
  background-image: url(../img/logoml-05.png);
  top: calc(-5 * var(--bd-height));
}
.layer7 {
  animation-delay: 0.35s;
  z-index: 7;
  background-image: url(../img/logoml-06.png);
  top: calc(-6 * var(--bd-height));
}
.layer8 {
  animation-delay: 0.4s;
  z-index: 8;
  background-image: url(../img/logoml-07.png);
  top: calc(-7 * var(--bd-height));
}

.greetingBackdrop {
  font-size: 40px;
  font-family: var(--fuenteTitulo2);
  font-style: italic;
  line-height: 1;
}
.backdropAnimation {
  animation: frontMonoGif var(--introDuracion) ease var(--introDelay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeOutloadingAnimation {
  animation: fadeOutLoadingAnimation 1s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backdropContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#backdrop .name {
  color: black;
}

#backdrop .logo {
  width: 400px;
  margin: 0 auto;
}

#backdrop .title {
  background: -webkit-linear-gradient(var(--colorNegro), var(--colorNegro));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  padding: 30px 0;
  text-align: center;
  /* text-shadow: 0 5px 2px rgba(11, 11, 110, 0.3), 0 8px 2px rgba(0, 0, 219, 0.2); */
}

#backdrop .message {
  font-family: var(--fuenteTitulo2);
  font-size: 32px;
}

.messagePercent {
  font-family: var(--fuenteTitulo2);
  font-style: italic;
  font-size: 24px;
}

.progressBar {
  margin: 0 auto;
  width: 350px;
  display: flex;
  background-color: #ddd;
}
.progressBar .progress {
  background: rgb(255, 145, 0);
  height: 5px;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.delay-01 {
  transition-delay: 0.2s !important;
}
.delay-02 {
  transition-delay: 0.4s !important;
}
.delay-03 {
  transition-delay: 0.6s !important;
}

.delay-5 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.3s;
}

@keyframes frontMonoGif {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: flex;
    top: 0;
  }
  100% {
    opacity: 0;
    display: none;
    top: -100vh;
  }
}
@keyframes fadeOutLoadingAnimation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* __________ 1ra sección Head __________ */
header {
  position: relative;
  background: url(../img/mainLyM.jpg);
  background-position: center center;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--fuenteTitulo2);
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(96, 64, 36) 0%,
    rgba(255, 255, 255, 0) 75%
  );
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.gradient {
  position: relative;

  color: #ffc107;
  background-image: -webkit-linear-gradient(135deg, #ffc107 5%, #ffe500 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

#mainLyM {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: end;
  justify-content: end;
}
.monograma {
  opacity: 0.3;
  border-radius: 50px 50px 50px 50px;
  position: relative;
}
.imgslide {
  object-fit: cover;
  height: 100vh;
}

.headerSeparator {
  text-align: center;
  background-color: rgb(158, 87, 12);
  height: 50px;
}
.headerSeparator img {
  position: relative;
  top: -70px;
  width: 400px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0.5));
}
.progressBar {
  width: 200px;
}

/* __________ 2da sección Love card  __________ */

#lovequote {
  margin: auto;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}
.lovecard {
  width: auto;
  height: auto;
  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1rem;
  color: black;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* __________ 3ra sección Save the date __________ */

#secDate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 500px !important;
  height: 100vh;
  background-image: url(../img/savethedate2.jpg);
  background-size: 500px auto;
  background-position: 0px center;
  text-align: center;
}
#contDate {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--colorBlanco);
  flex-direction: column;
  justify-content: center;
  overflow: hidden !important;
}
.cristalSave {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: black;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  background-image: url(../img/leaf.png), url(../img/leaf.png);
  background-size: 300px, 300px;
  background-repeat: no-repeat, no-repeat;
  background-position: 10px 10px, bottom right;
  transition: all 1s ease;
}
.hrSave {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: var(--fuenteTitulo2);
}

.hrSaveLeft,
.hrSaveRight {
  padding: 10px 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  width: 160px;
}
.hrSaveCenter {
  padding: 10px 0;
  width: 120px;
  text-align: center;
}
.hrSaveSmall {
  font-size: 28px;
  font-weight: bold;
}
.hrSaveBig {
  font-weight: bold;
  font-size: 48px !important;
}

.googleButton {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--fuenteTitulo2);
}

/* __________ 4ta sección Countdown __________ */
#countdown {
  padding: 50px 0;
}

.countdownTitle {
  text-align: center;
  opacity: 0.7;
  font-size: 28px;
  font-family: var(--fuenteTitulo2);
  padding: 20px;
}
.countdownNumber {
  display: inline-flex;
  flex-direction: column;
  padding: 20px 0;
  width: 200px;
  justify-content: center;
}
.countdownNumber .countdownBadge {
  color: var(--colorNegro);
  font-family: var(--fuenteTitulo2);
  font-size: 70px;
  font-weight: bold;
}
.countdownNumber .countdownText {
  color: var(--colorNegro);
  text-align: center;
  font-family: var(--fuenteTitulo2);
  font-size: 25px;
  opacity: 0.5;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}
h2 {
  background: -webkit-linear-gradient(var(--colorBlanco), var(--colorChamp));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fuenteCursivaTitulo);
  font-size: 96px;
  padding: 30px 0;
  text-align: center;
  filter: drop-shadow(0 8px 2px rgba(11, 11, 110, 0.3));
}

.backgroundCount {
  object-fit: cover;
  height: 100vh;
}

/* __________ 5ta sección Family __________ */
.familyContainer {
  --family-bg-size: 700px;
  background-image: url(../img/fondo-acuarela.png),
    url(../img/fondo-acuarela-2.png);
  background-size: var(--family-bg-size), var(--family-bg-size);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
}
.photofam {
  max-width: 350px;
  height: 350px;
  min-width: 200px;
  width: 100%;
}

.famNames {
  font-family: var(--fuenteTitulo2);
  text-transform: uppercase;
  font-size: 18px;
}

.famNames,
.famPhotos {
  transform: scale(2);
  filter: blur(20px);
  opacity: 0;

  transition: all 0.4s ease-out;
}
.photoPapasMarcos {
  background-image: url(../img/circulo-flores.png), url(../img/aym01.png);
  background-size: contain, 210px 210px;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center, center;
  border-radius: 50%;
}
.photoPapasLena {
  background-image: url(../img/circulo-flores.png), url(../img/jym.png);
  background-size: contain, 210px 210px;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center, center;
}

.showFam {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}
/* _________ Nuestras Fotitos _________ */
.ourPhoto {
  object-fit: contain;
  width: 100%;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.showOurPhoto {
  filter: blur(0px);
  opacity: 1;
}

/* _________ 6ta sección Location _________ */
.contLoc {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#garden {
  background-color: blue;
  background-image: url(../img/finca.jpeg);
  background-size: cover;
  padding: 20px;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btnlink {
  background-color: #6363db;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.cardLoc {
  width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.cardLoc-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.cardLoc p {
  margin-bottom: 1.5rem;
}

/* _________ 7ma sección Give away _________ */

#idSecGive {
  /*padding-top: 100px 50px !important;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "area01 area02 area03";
  gap: 20px;
  align-items: center;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "area01 area02"
    "area01 area03";
}
#thanksGift {
  text-align: center;
}
.giveMainTitle {
  text-align: center;
  font-size: 48px;
  color: #222;
  font-family: var(--fuenteTitulo2);
  padding-bottom: 10px;
  font-style: italic;
}
.giveTitle {
  text-align: center;
  font-size: 32px;
  color: #222;
  font-family: var(--fuenteTitulo2);
}
.giveLetterContainer {
  background-color: #fafafa;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.giveLetterContent {
  padding: 20px;
  border: double 4px #ccc;
  height: 100%;
}
.giveGoContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.principalLetter {
  grid-area: area01;
  align-self: center;
}
.liverpoolLetter {
  grid-area: area02;
}
.amazonLetter {
  grid-area: area03;
}
.tableMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.backtable {
  padding: 15px;
}
.boxStore {
  width: 18rem;
  padding: auto;
  padding: auto;
}
.anyborder {
  border: 0 !important;
}
.brand {
  height: 10rem;
  width: 10rem;
  margin: auto;
  padding: auto;
  transition: transform 0.9s;
}
.brand:hover {
  transform: scale(1.08);
}

/* _________ 9na sección Time line _________ */

ul {
  padding: 50px 0;
}

#timeline {
  overflow-x: hidden;
  background-image: url(../img/flores-03.jpg), url(../img/flores-02.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center 150px, center bottom;
  background-size: 400px, 400px;
}

#timeline ul li {
  position: relative;
  list-style-type: none;
  width: 3px;
  background-color: #6e3d10;
  margin: 0 auto;
  padding-top: 50px;
}
#timeline ul li:first-child {
  border-radius: 10px 10px 0 0;
}
#timeline ul {
  padding-top: 110px;
}
#timeline ul li::after {
  background: #6e3d10;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#timeline .eventContainer {
  position: relative;
  width: 550px;
  border-radius: 20px;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  min-height: 150px;
  top: -25px;
}
#timeline .eventContainer .eventInfo {
  font-family: var(--fuenteTitulo2);
  color: #000000;
  text-transform: uppercase;
}
#timeline .eventContainer .eventInfo time {
  padding-left: 20px;
  font-family: inherit;
}
#timeline .eventContainer .icon {
  margin-right: 20px;
  margin-left: 20px;
}
#timeline .eventContainer h3 {
  font-size: 38px;
  border-bottom: dotted 3px #6e3d10;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 30px;
}
#timeline .eventContainer time {
  font-size: 24px;
}
ul li:nth-child(odd) .eventContainer {
  left: 15px;
}
ul li:nth-child(even) .eventContainer {
  left: -550px;
  flex-direction: row !important;
  justify-content: end !important;
}
ul li:nth-child(even) .eventContainer h3 {
  padding-right: 20px;
}
time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.eventContainer {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
ul li:nth-child(odd) .hidden {
  transform: translate3d(200px, 0, 0);
}
ul li:nth-child(even) .hidden {
  transform: translate3d(-200px, 0, 0);
}
.show {
  opacity: 1;
  transform: none;
}
/* hotel */
.txtCardHotel {
  font-size: 20px;
  height: 45px;
  font-family: var(--fuenteParrafo);
}
.card-img-top {
  height: 280px;
}

/* _________ 10ma lodgement _________ */
#hidebutton {
  display: none;
}
#btnCam {
  display: flex;
  align-items: center;
  gap: 8px;
}

.galleryContent {
  background-color: var(--colorChamp);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.photoGallery {
  flex: calc(100% / 4);
  padding: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.photoGallery img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photoGallery .photosContainer,
.photoGallery .photoDescription {
  position: relative;
}

.photoGallery .photoContainer {
  width: 100%;
}

.photoGallery .photoDescription {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: -100px;
  height: 100px;
  margin-bottom: -100px;
  /* gradient */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  border-radius: 10px;
}

/* ________ ticket ___________________ */
.content .bottom {
  color: #000000;
  padding: 20px;
}

#denymsg {
  color: #b32428;
}
#acceptmsg {
  color: #1e8449;
}

.ticketsContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.titleticket {
  font-size: 30px;
  font-family: var(--fuenteCursiva3);
}

.transition {
  transition: all 0.5s ease-in-out;
}
.ticketContainer {
  width: 80vw;
  height: 350px;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  z-index: 100;
}
.ticketContainer .ticketDate {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  writing-mode: vertical-rl;
  border-right: dotted 3px #ccc;
}

.ticketContainer .ticketContent {
  background-image: url(../img/ticket-fondo1.jpg), url(../img/ticket-fondo2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top center;
  border-radius: 10px;
  background-color: white;
  padding: 16px;
  display: flex;
  flex: 1;
}
.ticketContainer .ticketInfo {
  padding: 16px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ticketContainer .ticketRSVP {
  font-family: var(--fuenteParrafo);
  width: 370px;
  padding: 16px;
  border-left: dashed 2px #ccc;
}

.ticketContainer .ticketRSVP .ticketsNumber,
.ticketsNumber {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.ticketContainer .ticketRSVP .ticketsNameOrNumber {
  text-align: center;
}

.ticketContainer.ticketFake.ticket1 {
  top: -316px;
  z-index: 10;
}
.ticketContainer.ticketFake.ticket2 {
  top: -625px;
  z-index: 9;
}
.ticketContainer.ticketFake.ticket3 {
  top: -1000px;
  z-index: 8;
}
.ticketContainer.ticketFake.ticket4 {
  top: -1334px;
  z-index: 7;
}

.ticketTransition {
  transform: translate(100px, 300px) rotate(20deg);
  transform-origin: 500px 50px;
  opacity: 0;
}

#questionWhatsApp a {
  width: 420px;
  height: 60px;
  border: #ccc solid 1px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  text-decoration: none;
}
.logoWhatsApp {
  margin-left: 15px;
}
.txtSearch {
  text-align: left;
  padding-right: 30px;
}
.photosSection {
  position: relative;
  padding: 0 !important;
  background-color: black;
}

.googleImage {
  width: 400px;
}

.photosContainer {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.photosWrapper {
  overflow: hidden;
  max-height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  gap: 5px;
  width: 110%;
  height: 100vh;
  align-content: flex-start;
  align-items: flex-start;
}

.photo {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  width: auto;
  transition: all 0.4s ease-out;
}

.photo:hover {
  opacity: 1;
}

.photo,
.photo img {
  height: 350px;
}
.photo img {
  object-fit: cover;
  width: auto;
  border-radius: 5px;
}

.photo .photosContainer {
  position: relative;
}

.photo .desc {
  position: relative;
  top: -5vh;
  width: 100%;
  color: white;
  text-align: center;
}

.formPhotos {
  position: relative;
  top: -60vh;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  color: white !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 45%,
    rgba(255, 255, 255, 0) 100%
  );
}
.formPhotosDescription {
  margin-top: -30px;
  font-size: 20px;
}
.addphoto {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.btnAlbum {
  padding: 15px 20px;
  background-color: var(--colorChamp);
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: black;
  border: none;
}
.btnAlbum:hover {
  --colorChampHover: #f5f5f5;
  background-color: var(--colorChampHover);
  color: black;
}

.errorPage {
  background-color: black;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.errorPage .title {
  font-size: 70px;
  font-weight: bold;
}
.errorPage .description {
  font-size: 30px;
  padding: 10px 0 30px 0;
}

.inviteItem {
  background-color: rgb(255, 231, 187);
  margin-bottom: 20px;
  padding: 20px;
}

.confirmations {
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  gap: 10px;
}

.confirmationItem {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
}

.confirmationSi {
  background-color: rgb(187, 255, 205);
}
.confirmationNo {
  background-color: rgb(255, 187, 187);
}

.searchInviteContainer {
  padding: 10px;
}
.searchInvite {
  padding: 5px;
  width: 100%;
}

/* Size of screen */
@media screen and (max-width: 500px) {
  .countdownNumber {
    padding: 10px;
  }

  #backdrop .title {
    font-size: 20px;
  }

  #backdrop .logo {
    width: 100% !important;
    height: auto !important;
  }
  #backdrop {
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
  }
  #backdrop .title {
    font-size: 48px;
  }
  #backdrop .message {
    font-size: 24px;
  }

  .bd-background {
    --bd-width: 295px;
    --bd-height: 300px;
    width: var(--bd-width);
    height: var(--bd-height);
  }
  .bd-background-layer {
    --bd-width: 295px;
    --bd-height: 300px;
    width: var(--bd-width);
    height: var(--bd-height);
    background-size: var(--bd-width) var(--bd-height);
  }

  h2 {
    font-size: 64px;
  }

  html,
  body {
    height: -webkit-fill-available;
    height: 100vh;
  }

  ul li:nth-child(odd) div {
    left: 0px;
  }
  ul li:nth-child(even) div {
    left: 0px;
  }
  .countdownNumber {
    width: 170px;
  }
  .widthLovequote {
    width: 100%;
  }

  header {
    background-size: cover;
  }
  #secDate {
    padding: 0 0 0 0px !important;
  }

  #contDate {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    box-sizing: border-box;
    height: auto;
    min-height: 400px;
    width: 90%;
    padding: 20px;
    height: 700px !important;
  }
  .cristalSave {
    border-radius: 10px;
    background-size: 200px, 200px;
    height: 700px !important;
    transform: translateY(100vh);
  }
  .showSaveDate {
    transform: translateY(0vh);
  }

  .hrSave {
    font-size: 24px;
    width: 100%;
  }

  .googleButton {
    font-size: 12px;
  }

  .txtParagraph.w-50 {
    width: 100% !important;
  }

  .photofam {
    width: 70%;
  }

  .galleryOneContainer {
    gap: 20px;
  }

  #timeline ul li {
    position: static;
    list-style-type: none;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 50px;
  }

  ul li:nth-child(odd) .eventContainer,
  ul li:nth-child(even) .eventContainer {
    left: 0;
    flex-direction: column !important;
    justify-content: center !important;
  }

  #timeline .eventContainer {
    width: 100% !important;
    position: static;
    width: 500px;
    border-radius: 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    text-align: center;
    top: -25px;
  }
  #timeline ul li::after {
    /*background: white;*/
    background-color: transparent;
  }

  ul li:nth-child(odd) .hidden {
    transform: translate3d(80px, 0, 0);
  }
  ul li:nth-child(even) .hidden {
    transform: translate3d(-80px, 0, 0);
  }

  .ticketContainer {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .ticketContainer .ticketDate {
    writing-mode: horizontal-tb;
    border-bottom: dotted 3px #ccc;
  }
  .ticketContainer .ticketContent {
    padding: 16px;
    flex-direction: column;
  }

  .ticketContainer .ticketInfo {
    min-height: 330px;
    width: 100%;
  }
  .ticketContainer .ticketRSVP {
    width: 100%;
    border: none;
    border-top: dashed 2px #ccc;
  }
  #questionWhatsApp a {
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .txtSearch {
    text-align: center;
    padding-right: 50px;
  }
  #heartsave {
    padding: 10px 0;
    width: 170px;
  }

  .cardLoc {
    width: 90%;
  }

  .googleImage {
    width: 80%;
  }

  .photosWrapper {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    gap: 3px;
    width: 130%;
  }

  .photo {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 8px;
  }

  .photo img {
    object-fit: cover;
    width: auto;
  }

  .photo,
  .photo img {
    height: 200px;
  }

  .fontSize90 {
    font-size: 65px;
  }
  .fontSize45 {
    font-size: 33px;
  }
  .fontSize30 {
    font-size: 20px;
  }

  .addphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .btnAlbum {
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .photo .desc {
    top: -3vh;
    font-size: 12px;
  }

  #idSecGive {
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "area01" "area02" "area03";
    align-items: center;
  }

  .giveLetterContainer {
    width: 80%;
  }
  .principalLetter {
    grid-area: area01;
  }
  .liverpoolLetter {
    grid-area: area02;
  }
  .amazonLetter {
    grid-area: area03;
  }
  .giveTitle {
    font-size: 24px;
  }

  .galleryContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

/* protocolo covid */
.smallletter {
  font-size: 12px;
}
.smalldiv {
  height: 5px;
}
.smallTitle {
  font-size: 25px;
  font-family: var(--fuenteCursivaTitulo);
}
.fontcovid {
  font-size: 15px !important;
}
