/* https://www.arsys.es/blog/efecto-resplandor-sombras-css */
/* https://carontestudio.com/blog/efecto-cristal-css-te-ensenamos-a-crearlo-de-0/ */
/* https://alvarotrigo.com/blog/html-css-timelines/ */
/* https://programadorwebvalencia.com/Javascript-cuenta-atras-o-contador-regresivo/ */

/* generales */
:root {
  --colorChamp: #f7e7ce;
  --colorBlanco: white;
  --colorRojo: #b32428;
  --colorNegro: #000000;

  --fuenteCursiva: "Pinyon Script", cursive;
  --fuenteCursiva2: "Niconne", cursive;
  --fuenteCursiva3: "Pacifico", cursive;
}
section {
  padding: 100px 0;
}
button {
  background-color: var(--color3) !important;
  color: white !important;
}

.contA {
  background-color: var(--colorChamp);
}

.contB {
  background-color: var(--colorBlanco);
}

.center {
  margin: auto;
}

.text-justify {
  text-align: justify;
}

.txtTitles  /* cursiva de titulos*/ {
  font-size: 60px;
  font-family: "Pinyon Script", cursive;
}

.txtText /* Nombre*/ {
  font-size: 40px;
  font-family: "Niconne", cursive;
  color: #000000;
}
.widthLovequote {
  width: 50%;
}

.txtParagraph /*parrafos*/ {
  font-family: "Source Serif Pro", serif;
}

.txtBadage {
  font-size: 45px;
  font-family: "Pinyon Script", cursive;
}
/* img circle */
.circular {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular img {
  width: 100%;
  height: auto;
}

/*backdrop*/
#backdrop {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  height: 100vh; /*cubra toda la altura de la pantalla*/
  width: 100%;
  z-index: 1000; /* eje z y su posición*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: frontMonoGif 1s ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backdropContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#backdrop .name {
  color: black;
}

#backdrop .logo {
  width: 200px;
  margin: 0 auto;
}

#backdrop .title {
  background: -webkit-linear-gradient(var(--colorNegro), var(--colorNegro));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  padding: 30px 0;
  text-align: center;
  /* text-shadow: 0 5px 2px rgba(11, 11, 110, 0.3), 0 8px 2px rgba(0, 0, 219, 0.2); */
}

#backdrop .message {
  font-family: var(--fuenteCursiva);
  font-size: 32px;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.delay-5 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.3s;
}

@keyframes frontMonoGif {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: flex;
    top: 0;
  }
  100% {
    opacity: 0;
    display: none;
    top: -100vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* __________ 1ra sección Head __________ */
#mainLyM {
  /*background-image: url(../img/mainLyM4.jpg);*/
  height: 90vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: end;
  justify-content: end;
}
.monograma {
  opacity: 0.3;
  border-radius: 50px 50px 50px 50px;
  position: relative;
}
.imgslide {
  object-fit: cover;
  height: 100vh;
}

/* __________ 2da sección Love card  __________ */

#lovequote {
  margin: auto;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}
.lovecard {
  width: auto;
  height: auto;
  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1rem;
  color: black;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* __________ 3ra sección Save the date __________ */

#secDate {
  padding: 0 0 0 350px !important;
  height: 100vh;
  background-image: url(../img/savethedate2.jpg);
  background-size: 350px 100%;
  background-position: 0px 0px;
  text-align: center;
}
#contDate {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--colorBlanco);
  flex-direction: column;
  justify-content: center;
}
.cristalSave {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.hrSave {
  font-size: 20px;
}

/* __________ 4ta sección Countdown __________ */
#countdown {
  background-color: #4a84cd;
  background-image: url(../img/fondo-salon.png);
  padding: 100px 0;
  background-repeat: repeat-x;
  background-position: 0 50vh;
  height: 100vh;
  background-size: cover;
}
.countdownNumber {
  display: inline-flex;
  flex-direction: column;
  padding: 80px 0;
  width: 200px;
  justify-content: center;
}
.countdownNumber .countdownBadge {
  color: var(--colorChamp);
  font-family: "Pacifico";
  font-size: 70px;
  font-weight: bold;
}
.countdownNumber .countdownText {
  color: white;
  text-align: center;
}
h2 {
  background: -webkit-linear-gradient(var(--colorBlanco), var(--colorChamp));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 96px;
  padding: 30px 0;
  text-align: center;
  filter: drop-shadow(0 8px 2px rgba(11, 11, 110, 0.3));
}

.backgroundCount {
  object-fit: cover;
  height: 100vh;
}

/* __________ 5ta sección Family __________ */
.photofam {
  border-radius: 50px 50px 50px 50px;
}
.boxfam {
  padding: 15px 10px 30px 15px;
}
.boxphoto {
  padding: 3em 1em 2em 1em;
}
.nomPadres {
  font-size: 50px;
}

/* _________ 6ta sección Location _________ */
.contLoc {
  background-image: url(../img/finca.jpeg);
  background-size: cover;
}
#garden {
  padding: 5rem;
  margin: 0;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}
#btnlink {
  background-color: #6363db;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.cardLoc {
  width: 20rem;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.cardLoc-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.cardLoc p {
  margin-bottom: 1.5rem;
}

/* _________ 7ma sección Give away _________ */
#divtable {
  padding: 15px;
  height: 250px;
}
.backtable {
  padding: 15px;
}
.boxStore {
  width: 18rem;
  padding: auto;
  padding: auto;
}
.anyborder {
  border: 0 !important;
}
.brand {
  height: 10rem;
  width: 10rem;
  margin: auto;
  padding: auto;
}

/* _________ 9na sección Time line _________ */

ul {
  padding: 50px 0;
}

#timeline ul li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: var(--colorNegro);
  margin: 0 auto;
  padding-top: 50px;
}

#timeline ul li::after {
  /*background: white;*/
  background: var(--colorNegro);
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#timeline .eventContainer {
  position: relative;
  width: 550px;
  border-radius: 20px;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  min-height: 150px;
  top: -25px;
  /*background: rgba(255,255,255);*/
}
#timeline .eventContainer .eventInfo time {
  padding-left: 20px;
}
#timeline .eventContainer .icon {
  margin-right: 20px;
  margin-left: 20px;
}
#timeline .eventContainer h3 {
  font-size: 48px;
  border-bottom: dotted 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}
#timeline .eventContainer time {
  font-size: 24px;
}
ul li:nth-child(odd) .eventContainer {
  left: 15px;
}
ul li:nth-child(even) .eventContainer {
  left: -550px;
  flex-direction: row !important;
  justify-content: end !important;
}
ul li:nth-child(even) .eventContainer h3 {
  padding-right: 20px;
}
time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul li div {
  /*  visibility: hidden; 
  opacity: 0*/
  transition: all 0.5s ease-in-out;
}
/* ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}
ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
} */
ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* _________ 10ma lodgement _________ */

#instagram {
  padding: 10rem;
  margin: 0;
  /*background-image: url(../img/instagram.png);*/
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}

/* pie */
.content .bottom {
  color: #000000;
  padding: 20px;
}

div {
  /*border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;*/
  /*outline: solid 1px;*/
}

/* Size of screen */
@media screen and (max-width: 500px) {
  #countdown {
    background-position: center bottom;
    background-size: contain;
  }

  .countdownNumber {
    padding: 10px;
  }

  #backdrop .title {
    font-size: 20px;
  }

  #backdrop .logo {
    width: 150px !important;
    height: 150px !important;
  }
  #backdrop {
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
  }
  #backdrop .title {
    font-size: 48px;
  }
  #backdrop .message {
    font-size: 24px;
  }

  h2 {
    font-size: 64px;
  }

  html,
  body {
    height: -webkit-fill-available;
    overflow: hidden;
    height: 100vh;
  }

  ul li:nth-child(odd) div {
    left: 0px;
  }
  ul li:nth-child(even) div {
    left: 0px;
  }
  .countdownNumber {
    width: 170px;
  }
  .widthLovequote {
    width: 100%;
  }
  #secDate {
    padding: 0 0 0 0px !important;
  }
  #contDate {
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 20px white, 0 0 20px white;
    color: black;
  }

  #timeline ul li {
    position: static;
    list-style-type: none;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 50px;
  }

  ul li:nth-child(odd) .eventContainer,
  ul li:nth-child(even) .eventContainer {
    left: 0;
    flex-direction: column !important;
    justify-content: center !important;
  }

  #timeline .eventContainer {
    width: 100% !important;
    position: static;
    width: 500px;
    border-radius: 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    text-align: center;
    top: -25px;
  }
  #timeline ul li::after {
    /*background: white;*/
    background-color: transparent;
  }
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
