/* https://www.arsys.es/blog/efecto-resplandor-sombras-css */
/* https://carontestudio.com/blog/efecto-cristal-css-te-ensenamos-a-crearlo-de-0/ */
/* https://alvarotrigo.com/blog/html-css-timelines/ */
/* https://programadorwebvalencia.com/Javascript-cuenta-atras-o-contador-regresivo/ */

/* generales */
:root {
  --colorChamp: #f7e7ce;
  --colorBlanco: white;
  --colorRojo: #b32428;
  --colorNegro: #000000;

  --fuenteCursiva: "Pinyon Script", cursive;
  --fuenteCursivaTitulo: "Niconne", cursive;
  --fuenteCursiva3: "Pacifico", cursive;
  --fuenteParrafo: "Source Serif Pro", serif;
  --fuenteTitulo2: "Crimson Text", serif;
  --introDuracion: 1s;
  --introDelay: 5s;
}
section {
  padding: 100px 0;
}
/* button {
  background-color: var(--color3) !important;
  color: white !important;
} */

.contA {
  background-color: var(--colorChamp);
}

.contB {
  background-color: var(--colorBlanco);
}

.center {
  margin: auto;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.txtTitles  /* fuente de titulos*/ {
  font-size: 60px;
  font-family: var(--fuenteTitulo2);
  font-style: italic;
  line-height: 1;
  color: #000000;
}
.txtParagraph {
  font-family: var(--fuenteParrafo);
}

.txtTitles2 {
  font-family: var(--fuenteCursiva2);
  font-size: 60px !important;
}
.txtTitles4 {
  font-family: var(--fuenteCursiva);
  font-size: 40px !important;
}
.fontSize60 {
  font-size: 60px;
}
.fontSize90 {
  font-size: 90px;
  line-height: 1;
}
.fontSize30 {
  font-size: 30px;
}
.fontSize45 {
  font-size: 45px;
}
.font-bold {
  font-weight: bold;
}
.text-shadow {
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.txtTitles3 {
  background: -webkit-linear-gradient(var(--colorBlanco), var(--colorChamp));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 96px;
  padding: 30px 0;
  text-align: center;
  filter: drop-shadow(0 8px 2px rgba(11, 11, 110, 0.3));
}
.txtText /* Nombre*/ {
  font-size: 40px;
  font-family: "Niconne", cursive;
  color: #000000;
}
.widthLovequote {
  width: 50%;
}

.txtBadage {
  font-size: 45px;
  font-family: "Pinyon Script", cursive;
}
/* img circle */
.circular {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular img {
  width: 100%;
  height: auto;
}
#div {
  outline: #000000 solid 1px;
}

.sectionTitle {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out;
}
.ornamentTitle {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.showTitle {
  transform: translateY(0);
  opacity: 1;
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*backdrop*/
#backdrop {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  height: 100vh; /*cubra toda la altura de la pantalla*/
  width: 100%;
  z-index: 1000; /* eje z y su posición*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backdropAnimation {
  animation: frontMonoGif var(--introDuracion) ease var(--introDelay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backdropContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#backdrop .name {
  color: black;
}

#backdrop .logo {
  width: 200px;
  margin: 0 auto;
}

#backdrop .title {
  background: -webkit-linear-gradient(var(--colorNegro), var(--colorNegro));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  padding: 30px 0;
  text-align: center;
  /* text-shadow: 0 5px 2px rgba(11, 11, 110, 0.3), 0 8px 2px rgba(0, 0, 219, 0.2); */
}

#backdrop .message {
  font-family: var(--fuenteCursiva);
  font-size: 32px;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.delay-5 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.3s;
}

@keyframes frontMonoGif {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: flex;
    top: 0;
  }
  100% {
    opacity: 0;
    display: none;
    top: -100vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* __________ 1ra sección Head __________ */
header {
  background-image: url(../img/mainLyM3.jpg);
  background-position: center center;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fuenteTitulo2);
  text-align: center;
  flex-direction: column;
}
header .content {
}
#mainLyM {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: end;
  justify-content: end;
}
.monograma {
  opacity: 0.3;
  border-radius: 50px 50px 50px 50px;
  position: relative;
}
.imgslide {
  object-fit: cover;
  height: 100vh;
}

.headerSeparator {
  text-align: center;
  background-color: rgb(158, 87, 12);
  height: 50px;
}
.headerSeparator img {
  position: relative;
  top: -70px;
  width: 400px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0.5));
}

/* __________ 2da sección Love card  __________ */

#lovequote {
  margin: auto;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}
.lovecard {
  width: auto;
  height: auto;
  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1rem;
  color: black;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* __________ 3ra sección Save the date __________ */

#secDate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 500px !important;
  height: 100vh;
  background-image: url(../img/savethedate2.jpg);
  background-size: 500px auto;
  background-position: 0px center;
  text-align: center;
}
#contDate {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--colorBlanco);
  flex-direction: column;
  justify-content: center;
}
.cristalSave {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.hrSave {
  font-size: 20px;
}

/* __________ 4ta sección Countdown __________ */
#countdown {
  background-color: #75b8df;
  background-image: url(../img/fondo-salon.png);
  padding: 100px 0;
  background-repeat: repeat-x;
  background-position: 0 bottom;
  height: 130vh;
  background-size: contain;
}
.countdownNumber {
  display: inline-flex;
  flex-direction: column;
  padding: 80px 0;
  width: 200px;
  justify-content: center;
}
.countdownNumber .countdownBadge {
  color: var(--colorChamp);
  font-family: "Pacifico";
  font-size: 70px;
  font-weight: bold;
}
.countdownNumber .countdownText {
  color: white;
  text-align: center;
  font-family: var(--fuenteParrafo);
  font-size: 25px;
}
h2 {
  background: -webkit-linear-gradient(var(--colorBlanco), var(--colorChamp));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fuenteCursivaTitulo);
  font-size: 96px;
  padding: 30px 0;
  text-align: center;
  filter: drop-shadow(0 8px 2px rgba(11, 11, 110, 0.3));
}

.backgroundCount {
  object-fit: cover;
  height: 100vh;
}

/* __________ 5ta sección Family __________ */
.photofam {
  border-radius: 50%;
  max-width: 350px;
  min-width: 200px;
  width: 100%;
}

/* _________ 6ta sección Location _________ */
.contLoc {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#garden {
  background-color: blue;
  background-image: url(../img/finca.jpeg);
  background-size: cover;
  padding: 20px;
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btnlink {
  background-color: #6363db;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.cardLoc {
  width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.cardLoc-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.cardLoc p {
  margin-bottom: 1.5rem;
}

/* _________ 7ma sección Give away _________ */

#idSecGive {
  padding-top: 50px !important;
}
.tableMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.backtable {
  padding: 15px;
}
.boxStore {
  width: 18rem;
  padding: auto;
  padding: auto;
}
.anyborder {
  border: 0 !important;
}
.brand {
  height: 10rem;
  width: 10rem;
  margin: auto;
  padding: auto;
  transition: transform 0.9s;
}
.brand:hover {
  transform: scale(1.08);
}

/* _________ 9na sección Time line _________ */

ul {
  padding: 50px 0;
}

#timeline {
  overflow-x: hidden;
}

#timeline ul li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: #000000;
  margin: 0 auto;
  padding-top: 50px;
}
#timeline ul li:first-child {
  border-radius: 10px 10px 0 0;
}

#timeline ul li::after {
  background: #000000;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#timeline .eventContainer {
  position: relative;
  width: 550px;
  border-radius: 20px;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  min-height: 150px;
  top: -25px;
}
#timeline .eventContainer .eventInfo time {
  padding-left: 20px;
}
#timeline .eventContainer .icon {
  margin-right: 20px;
  margin-left: 20px;
}
#timeline .eventContainer h3 {
  font-size: 48px;
  border-bottom: dotted 2px #6b5d0f;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}
#timeline .eventContainer time {
  font-size: 24px;
}
ul li:nth-child(odd) .eventContainer {
  left: 15px;
}
ul li:nth-child(even) .eventContainer {
  left: -550px;
  flex-direction: row !important;
  justify-content: end !important;
}
ul li:nth-child(even) .eventContainer h3 {
  padding-right: 20px;
}
time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.eventContainer {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
ul li:nth-child(odd) .hidden {
  transform: translate3d(200px, 0, 0);
}
ul li:nth-child(even) .hidden {
  transform: translate3d(-200px, 0, 0);
}
.show {
  opacity: 1;
  transform: none;
}
/* hotel */
.txtCardHotel {
  font-size: 20px;
  font-family: var(--fuenteParrafo);
}

/* _________ 10ma lodgement _________ */

#instagram {
  padding: 10rem;
  margin: 0;
  /*background-image: url(../img/instagram.png);*/
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}

/* pie */
.content .bottom {
  color: #000000;
  padding: 20px;
}

#denymsg {
  color: #b32428;
}
#acceptmsg {
  color: #1e8449;
}

.ticketsContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.titleticket {
  font-size: 30px;
  font-family: var(--fuenteCursiva3);
}

.transition {
  transition: all 0.5s ease-in-out;
}
.ticketContainer {
  width: 80vw;
  height: 350px;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  z-index: 100;
}
.ticketContainer .ticketDate {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  writing-mode: vertical-rl;
  border-right: dotted 3px #ccc;
}

.ticketContainer .ticketContent {
  background-image: url(../img/ticket-fondo1.jpg), url(../img/ticket-fondo2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top center;
  border-radius: 10px;
  background-color: white;
  padding: 16px;
  display: flex;
  flex: 1;
}
.ticketContainer .ticketInfo {
  padding: 16px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ticketContainer .ticketRSVP {
  width: 370px;
  padding: 16px;
  border-left: dashed 2px #ccc;
}

.ticketContainer .ticketRSVP .ticketsNumber {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.ticketContainer .ticketRSVP .ticketsNameOrNumber {
  text-align: center;
}

.ticketContainer.ticketFake.ticket1 {
  top: -316px;
  z-index: 10;
}
.ticketContainer.ticketFake.ticket2 {
  top: -625px;
  z-index: 9;
}
.ticketContainer.ticketFake.ticket3 {
  top: -1000px;
  z-index: 8;
}
.ticketContainer.ticketFake.ticket4 {
  top: -1334px;
  z-index: 7;
}

.ticketTransition {
  transform: translate(100px, 300px) rotate(20deg);
  transform-origin: 500px 50px;
  opacity: 0;
}

.googleImage {
  width: 400px;
}

/* Size of screen */
@media screen and (max-width: 500px) {
  #countdown {
    background-position: bottom center;
    background-size: contain;
    height: 100vh;
  }

  .countdownNumber {
    padding: 10px;
  }

  #backdrop .title {
    font-size: 20px;
  }

  #backdrop .logo {
    width: 150px !important;
    height: 150px !important;
  }
  #backdrop {
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
  }
  #backdrop .title {
    font-size: 48px;
  }
  #backdrop .message {
    font-size: 24px;
  }

  h2 {
    font-size: 64px;
  }

  html,
  body {
    height: -webkit-fill-available;
    overflow: hidden;
    height: 100vh;
  }

  ul li:nth-child(odd) div {
    left: 0px;
  }
  ul li:nth-child(even) div {
    left: 0px;
  }
  .countdownNumber {
    width: 170px;
  }
  .widthLovequote {
    width: 100%;
  }
  #secDate {
    padding: 0 0 0 0px !important;
  }
  #contDate {
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 20px white, 0 0 20px white;
    color: black;
    box-sizing: border-box;
    height: auto;
    min-height: 400px;
    width: 80%;
    padding: 20px;
  }
  .txtParagraph.w-50 {
    width: 100% !important;
  }

  .photofam {
    width: 70%;
  }

  #timeline ul li {
    position: static;
    list-style-type: none;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 50px;
  }

  ul li:nth-child(odd) .eventContainer,
  ul li:nth-child(even) .eventContainer {
    left: 0;
    flex-direction: column !important;
    justify-content: center !important;
  }

  #timeline .eventContainer {
    width: 100% !important;
    position: static;
    width: 500px;
    border-radius: 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    text-align: center;
    top: -25px;
  }
  #timeline ul li::after {
    /*background: white;*/
    background-color: transparent;
  }

  ul li:nth-child(odd) .hidden {
    transform: translate3d(80px, 0, 0);
  }
  ul li:nth-child(even) .hidden {
    transform: translate3d(-80px, 0, 0);
  }

  .ticketContainer {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .ticketContainer .ticketDate {
    writing-mode: horizontal-tb;
    border-bottom: dotted 3px #ccc;
  }
  .ticketContainer .ticketContent {
    padding: 16px;
    flex-direction: column;
  }

  .ticketContainer .ticketInfo {
    min-height: 330px;
    width: 100%;
  }
  .ticketContainer .ticketRSVP {
    width: 100%;
    border: none;
    border-top: dashed 2px #ccc;
  }
  #heartsave {
    width: 170px;
  }

  .cardLoc {
    width: 90%;
  }

  .googleImage {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

/* protocolo covid */
.smallletter {
  font-size: 12px;
}
.smalldiv {
  height: 5px;
}
.smallTitle {
  font-size: 25px;
  font-family: var(--fuenteCursivaTitulo);
}
.fontcovid {
  font-size: 15px !important;
}
